@model WebsiteSellingSport.Models.Size

@{
    ViewData["Title"] = "Details";
}
<main>
    <div class="container-fluid px-4">
        <h1>Details</h1>

        <div>
            <h4>Size</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SizeName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SizeName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SizeCode)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SizeCode)
                </dd>
            </dl>
        </div>
        <div>
            <a class="btn btn-warning" href ="@Url.RouteUrl("areas", new {area="Admin",controller="Sizes",action="Edit",id = Model.SizeId})">
                Sửa</a> |
            <a href ="@Url.RouteUrl("areas", new {area="Admin",controller="Sizes",action="Index"})">Quay lại</a>
        </div>
    </div>
</main>
